html {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#main-content {
  background-color: #ffffff;
}

/* .........................................Section ONE Header............................................  */
a {
  font-style: normal;
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin-left: 1.5rem;
  font-size: 20px;
}

.nav-main-container {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

.portfolio-name {
  /* background-color: black; */
  width: 60%;
}

.portfolio-name h2 {
  position: relative;
  font-size: 40px;
}

.portfolio-name > h2 > span {
  color: #ff004f;
}

.portfolio-name h2::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.portfolio-name h2:hover::after {
  width: 20%;
}

.nav-container {
  /* border: 2px solid red; */
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container li {
  list-style: none;
  margin: 10px 20px;
}

.nav-container li a {
  position: relative;
}

.nav-container li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav-container li a:hover::after {
  width: 100%;
}

/* ...................................Section TWO Introduction..................................  */
.main-body-container {
  /* border: 2px solid red; */
  margin: 0;
}

.introduction-container,
.ReachOut-container,
.contact-container {
  /* border: 2px solid black; */
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
}

.description-container {
  width: 50%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-container > #first-line {
  font-size: 30px;
}

.description-container > #first-line > span {
  color: #ff004f;
  font-size: 35px;
}

.description-container > p {
  margin-left: 4%;
  font-size: 20px;
}

.portrait-container {
  display: flex;
  justify-content: center;
  width: 50%;
  /* border: 2px solid yellow; */
}

.portrait-container > img {
  height: 450px;
  border: solid 3px black;
  border-radius: 50%;
}

#first-line {
  font-weight: 700;
  font-size: 1.2rem;
}

/* ........................Section THREE Links..........................  */
.ReachOut-container {
  /* border: 2px solid greenyellow; */
  margin-top: 2%;
  justify-content: center;
  text-align: center;
}

.ReachOut-container > p {
  font-size: 20px;
}

.techstack-container {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.techstack-container i {
  font-size: 30px;
}

/* .........................Section FOUR About Me...................... */
.about-container {
  /* border: 2px solid black; */
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.aboutDetails-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.about-container h2 {
  align-self: center;
  font-size: 30px;
  color: #ff004f;
}

.aboutimage {
  flex-basis: 40%;
}

.aboutDescription {
  flex-basis: 70%;
  position: relative;
}

.aboutDetails-container > div > img {
  margin: 2%;
  height: 600px;
  border-radius: 20px;
}

.aboutDescription > p {
  font-size: 20px;
  /* border: 2px solid black; */
}

.aboutDescription > p span {
  color: #ff004f;
  font-weight: 700;
}

.tab-titles {
  font-size: 20px;
  display: flex;
  margin: 20px 0 10px;
}

.tab-links {
  margin-right: 50px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul {
  padding-left: 0;
  margin-top: 0;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #b54769;
  font-weight: 700;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ..............................SKILLS CARD............................ */
.main {
  width: 100%;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills-list {
  padding: 20px;
  padding-top: 0;
}

.content-card {
  position: relative;
  background: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 50%
    ),
    hsl(240, 2%, 13%);
  border-radius: inherit;
  z-index: -1;
}

.content-card {
  padding: 20px;
  padding-top: 00px;
  padding-bottom: 0px;
}

.skills-item:not(:last-child) {
  margin-bottom: 0px;
  margin-top: 0px;
}

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.skill .title-wrapper h3 {
  font-size: 20px;
  color: #fff;
}

.skill .title-wrapper data {
  color: gray;
  font-size: 20px;
  font-weight: 300;
}

.skill-progress-bg {
  background-color: #eee;
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: linear-gradient(to left, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  height: 100%;
  border-radius: 10px;
  animation: processbar-fill 3s linear;
}

@keyframes processbar-fill {
  from {
    width: 0;
  }

  to {
    width: width;
  }
}

/* ...................................Section FIVE Services............................  */
#services {
  /* border: 2px solid black; */
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 30px 0;
}

.sub-title {
  color: #ff004f;
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}

.services-list div {
  background: black;
  padding: 40px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

.services-list > div h2 {
  margin: 0;
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list > div p,
.services-list div i {
  color: white;
}

.services-list > div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list > div a {
  margin-left: 0;
  color: #b54769;
  font-weight: 500;
}

/* ....................................SECTION SIX Projects.................................. */
#projects {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 30px 0;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  color: white;
  font-size: 16px;
  transition: height 0.5s;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .layer {
  height: 100%;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  margin-left: 0;
  color: #ff004f;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.see-more-button {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  transition: background 0.5s;
  cursor: pointer;
}

.see-more-button:hover {
  background: #ff004f;
}

/* ...................................Section SEVEN Contact....................................  */
.contact-container {
  font-weight: 700;
  margin-bottom: 10%;
  margin-top: 10%;
}

.row {
  display: flex;
}

.contact-sub-title {
  color: #ff004f;
  font-size: 40px;
}

.row p {
  font-size: 20px;
}

.social-icons a {
  margin-left: 0;
}

.contact-left {
  flex-basis: 35%;
}

.contact-left {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left i {
  color: #ff004f;
  font-size: 20px;
}

.social-icons i {
  font-size: 30px;
  color: black;
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons i:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.document-container {
  /* margin-left: 20%;
  margin-right: 20%; */
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-bottom: 10%; */
}

.btn {
  /* display: inline-block; */
  background: #ff004f;
  transition: transform 0.5s;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.btn:hover {
  transform: scale(1.1);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  /* border: 0; */
  /* outline: none; */
  /* background: #ababab; */
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 20px;
  border-radius: 6px;
}

.copyright {
  text-align: center;
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 500;
}

.copyright span {
  color: #ff004f;
}

/* ...................................................Breakpoint for Mobile and Tablet devices............................................................. */
@media (max-width: 768px) {
  .introduction-container {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .nav-main-container {
    padding-left: 0;
    padding-right: 0;
  }

  .portrait-container {
    order: -1;
    align-self: center;
    margin-top: 5%;
  }

  .description-container {
    width: auto;
    margin: 5% 0 5% 0;
    padding: 0;
  }

  .ReachOut-container {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
  }

  .description-container > p {
    margin-left: 0;
  }

  #first-line {
    text-align: center;
  }

  #middle-line,
  #last-line {
    text-align: center;
  }

  .about-container {
    width: auto;
    margin: 0;
    margin-top: 10%;
    padding: 0.5%;
  }

  .aboutDetails-container {
    flex-direction: column;
  }

  .aboutDetails-container > img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    align-self: center;
  }

  .aboutDetails-container > p {
    width: auto;
    margin: 3% 0.5% 3% 0;
    text-align: center;
  }

  .contact-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/* Breakpoint for Mobile Devices */
/* Adding a hamburger button */
@media (max-width: 576px) {
}
