html {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#main-content {
  background-color: #ffffff;
}

/* Section ONE Header  */
a {
  font-style: normal;
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin-left: 1.5rem;
}

.nav-main-container {
  display: flex;
}

.portfolio-name {
  /* background-color: black; */
  width: 60%;
}

.nav-container {
  /* border: 2px solid red; */
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.2rem;
}

/* Section TWO Introduction  */
.main-body-container {
  /* border: 2px solid red; */
  margin: 0;
}

.introduction-container,
.ReachOut-container,
.contact-container {
  /* border: 2px solid black; */
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
}

.description-container {
  width: 50%;
  /* border: 2px solid black; */
}

.description-container > p {
  margin-left: 4%;
}

.portrait-container {
  display: flex;
  justify-content: center;
  width: 50%;
  /* border: 2px solid yellow; */
}

.portrait-container > img {
  border: solid 3px black;
  border-radius: 50%;
}

#first-line {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Section THREE Links  */
.ReachOut-container {
  border: 2px solid greenyellow;
  margin-top: 2%;
  justify-content: center;
  text-align: center;
}

/* Section FOUR About Me */
.about-container {
  /* border: 2px solid black; */
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.aboutDetails-container {
  /* border: 2px solid red; */
  display: flex;
}

.about-container h2 {
  align-self: center;
}

.aboutDetails-container > img {
  margin: 2%;
}

.aboutDetails-container > p {
  width: 75%;
  /* border: 2px solid black; */
}

/* Section FIVE Projects  */

/* Section SIX Contact  */
.contact-container {
  font-weight: 700;
  justify-content: center;
  margin-bottom: 15%;
}

/* Breakpoint for Mobile devices */
@media (max-width: 576px) {
  .introduction-container {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .portrait-container {
    order: -1;
    align-self: center;
    margin-top: 5%;
  }

  .description-container {
    width: auto;
    margin: 5% 0 5% 0;
    padding: 0;
  }

  .ReachOut-container {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
  }

  .description-container > p {
    margin-left: 0;
  }

  #first-line {
    text-align: center;
  }

  #middle-line,
  #last-line {
    text-align: center;
  }

  .about-container {
    width: auto;
    margin: 0;
    margin-top: 10%;
    padding: 0;
  }

  .aboutDetails-container {
    flex-direction: column;
  }

  .aboutDetails-container > img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    align-self: center;
  }

  .aboutDetails-container > p {
    width: auto;
    margin: 3% 0 3% 0;
    text-align: center;
  }

  .contact-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}
